-e file:../shared
django-auth-adfs
django-cors-headers
django-environ
django-extensions
django-helusers
django-searchable-encrypted-fields
django-simple-history
django-storages[azure]
djangorestframework
django~=3.2
drf-oidc-auth
elasticsearch
factory-boy
filetype
mozilla-django-oidc
pillow
psycopg2
python-stdnum
requests
sentry-sdk
xlsxwriter
