-e file:../shared
django-auth-adfs
django-cors-headers
django-environ
django-extensions
django-helusers
django-simple-history
django-storages[azure]
djangorestframework
django~=4.2
drf-oidc-auth
elasticsearch
factory-boy
filetype
mozilla-django-oidc
pillow
psycopg2
python-stdnum>=1.19
requests
sentry-sdk
xlsxwriter
