# NOTE: You need to comment out "-e file:../shared" in requirements.txt when running pip-compile.
# Otherwise, you might get an "Unnamed requirements are not allowed as constraints" error.
-c requirements.txt

# These need to be kept in sync with .pre-commit-config.yaml in the root of the repository.
black==24.4.2
flake8==7.1.0
isort==5.13.2

ipython
pip-tools
pytest
pytest-cov
pytest-django
pytest-freezegun
pytest-xdist[psutil]
requests-mock
werkzeug
pre-commit
