# exclude all
*
# except include following
# https://github.com/moby/moby/issues/30018
!lerna.json
!babel.config.js
!package.json

!shared/src
!shared/package.json
!shared/tsconfig.json
!tsconfig.json


!yarn.lock

!kesaseteli/employer/next.config.js
!kesaseteli/employer/next-i18next.config.js
!kesaseteli/employer/public
!kesaseteli/employer/src
!kesaseteli/employer/package.json
!kesaseteli/employer/tsconfig.json
!kesaseteli/employer/start.js

!kesaseteli/youth/next.config.js
!kesaseteli/youth/next-i18next.config.js
!kesaseteli/youth/public
!kesaseteli/youth/src
!kesaseteli/youth/package.json
!kesaseteli/youth/tsconfig.json
!kesaseteli/youth/start.js

!kesaseteli/shared/src
!kesaseteli/shared/package.json
!kesaseteli/shared/tsconfig.json

!benefit/applicant/next.config.js
!benefit/applicant/next-i18next.config.js
!benefit/applicant/package.json
!benefit/applicant/public
!benefit/applicant/src
!benefit/applicant/tsconfig.json
!benefit/applicant/start.js

!benefit/handler/next.config.js
!benefit/handler/next-i18next.config.js
!benefit/handler/package.json
!benefit/handler/public
!benefit/handler/src
!benefit/handler/tsconfig.json
!benefit/handler/start.js
!tet/employer/next.config.js
!tet/employer/next-i18next.config.js
!tet/employer/package.json
!tet/employer/public
!tet/employer/src
!tet/employer/tsconfig.json
!tet/employer/start.js
!tet/youth/next.config.js
!tet/youth/next-i18next.config.js
!tet/youth/package.json
!tet/youth/public
!tet/youth/src
!tet/youth/tsconfig.json
!tet/youth/start.js
!tet/admin/next.config.js
!tet/admin/next-i18next.config.js
!tet/admin/package.json
!tet/admin/public
!tet/admin/src
!tet/admin/tsconfig.json
!tet/admin/start.js

!tet/shared/src
!tet/shared/package.json
!tet/shared/tsconfig.json

