# exclude all
*
# except include following
# https://github.com/moby/moby/issues/30018
!lerna.json
!babel.config.js
!kesaseteli/employer/next.config.js
!kesaseteli/employer/next-i18next.config.js
!kesaseteli/employer/sentry.client.config.js
!kesaseteli/employer/sentry.server.config.js
!kesaseteli/employer/sentry.properties
!kesaseteli/employer/public
!kesaseteli/employer/src
!shared/src
!package.json
!kesaseteli/employer/package.json
!shared/package.json
!tsconfig.json
!kesaseteli/employer/tsconfig.json
!shared/tsconfig.json
!yarn.lock
!kesaseteli/employer/start.js
!benefit/applicant/next.config.js
!benefit/applicant/next-i18next.config.js
!benefit/applicant/package.json
!benefit/applicant/public
!benefit/applicant/src
!benefit/applicant/tsconfig.json
!benefit/applicant/start.js
!benefit/handler/next.config.js
!benefit/handler/next-i18next.config.js
!benefit/handler/package.json
!benefit/handler/public
!benefit/handler/src
!benefit/handler/tsconfig.json
!benefit/handler/start.js

