# Shared
* @City-of-Helsinki/ratkaisutoimiston-backend @City-of-Helsinki/ratkaisutoimiston-frontend @City-of-Helsinki/KuVa-developers
/backend/ @City-of-Helsinki/ratkaisutoimiston-backend @City-of-Helsinki/KuVa-developers
/frontend/ @City-of-Helsinki/ratkaisutoimiston-frontend @City-of-Helsinki/KuVa-developers

# KuVa
/backend/kesaseteli/ @City-of-Helsinki/KuVa-developers
/frontend/kesaseteli/ @City-of-Helsinki/KuVa-developers

# Ratkaisutoimisto
/backend/benefit/ @City-of-Helsinki/ratkaisutoimiston-backend
/frontend/benefit/ @City-of-Helsinki/ratkaisutoimiston-frontend
