# NOTE: You need to comment out "-e file:../shared" in requirements.txt when running pip-compile.
# Otherwise, you might get an "Unnamed requirements are not allowed as constraints" error.
-c requirements.txt

# This needs to be kept in sync with .pre-commit-config.yaml in the root of the repository.
ruff==0.13.1

langdetect
openpyxl
pip-tools
pytest
pytest-cov
pytest-django
pytest-freezegun
pytest-xdist[psutil]
requests-mock
werkzeug
pre-commit
