-e file:../shared
django-auth-adfs
django-cors-headers
django-environ
django-extensions
django-localflavor
django-searchable-encrypted-fields
django-sequences
django-simple-history
django-storages[azure]
djangorestframework
django~=4.2
elasticsearch~=7.17  # TODO: remove and update to 8.x when elasticsearch servers are updated to elasticsearch 8
factory-boy
filetype
ipython
jsonpath-ng
mozilla-django-oidc
pillow
psycopg2
python-stdnum>=1.19
requests
sentry-sdk
xlsx-streaming
xlsxwriter
