{% load i18n %}
<!DOCTYPE html>
<html lang="{{language}}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% blocktrans with year=year %}Vuoden {{year}} Kesäsetelisi{% endblocktrans %}</title>
    </head>
    <body>
        <table style="background-color:#f7f7f7;color:#191919;max-width:800px">
            <caption>
                {% trans 'Kesäsetelisi ja ohjeet sen käyttämiseen' %}
            </caption>

            <tr style="background-color:#e1f6ea;margin:0 0 0 0;padding:0 0 0 0">
                <td colspan="2">
                    <img alt="{% trans 'Helsinki, Kesäseteli, 325€' %}" src="cid:youth_summer_voucher_logo">
                </td>
            </tr>

            <tr style="background-color:#e1f6ea;margin-left:1em;margin-right:1em;padding-bottom:1em">
                <td colspan="2">
                    <h2>{% trans 'Kesäsetelisi, ole hyvä' %}</h2>
                    <p>
                        {% trans 'Tässä henkilökohtainen Kesäsetelisi.' %}
                        {% trans 'Tutustu Kesäsetelin nettisivuihin, jossa on tietoa Kesäsetelin käytöstä, kesätyönhausta sekä työpaikkoja.' %}
                        {% trans 'Ystävällisin terveisin, Kesäseteli-tiimi' %}
                    </p>
                    <p>
                        <strong>{{first_name}} {{last_name}}</strong><br/>
                        <strong>{% trans 'Kesäsetelinumero:' %}</strong> {{summer_voucher_serial_number}}<br/>
                        <strong>{% trans 'Kesäsetelin summa:' %}</strong> {% trans '325€' %}<br/>
                        <strong>{% trans 'Postinumero:' %}</strong> {{postcode}}<br/>
                        <strong>{% trans 'Koulu:' %}</strong> {{school}}<br/>
                        <strong>{% trans 'Puhelinnumero:' %}</strong> {{phone_number}}<br/>
                        <strong>{% trans 'Sähköpostiosoite:' %}</strong> {{email}}<br/>
                    </p>
                    <p>
                        {% trans 'Kun olet löytänyt kesätyöpaikan ja tehnyt työsopimuksen, voit välittää tämän sähköpostiviestin työnantajalle tai antaa heille yllä olevan kesäsetelinumeron.' %}
                    </p>
                </td>
            </tr>

            <tr style="padding-top:1em;margin-left:1em;margin-right:1em">
                <td colspan="2">
                    <h2>{% trans 'Ohjeita työnhakijalle' %}</h2>
                    <p>
                        {% trans 'Kesäseteli helpottaa sinua kesätyöpaikan löytämisessä: viime vuonna tyypillisiä työtehtäviä olivat kesäleirin ohjaaja, myymälän hyllyttäjä, ravintolan saliapulainen, puutarhatyöntekijä, lastenhoitaja, verkkosivujen ja somen sisällöntuottaja ja kioskimyyjä.' %}
                        {% trans 'Erikoisia kesätöitä olivat esimerkiksi peliohjelmointi, äänitiedostojen editointi ja nahkapajan apulainen!' %}
                    </p>
                    <p>
                        <strong>{% trans 'Työpäivät ja palkka:' %}</strong>
                        <ul>
                            <li>{% trans 'Kesäsetelillä tehdään 60 työtuntia.' %}</li>
                            <li>{% trans 'Työtunteja on vähintään 18h/viikko.' %}</li>
                            <li>{% trans 'Työnantaja maksaa sinulle palkkaa vähintään 400 euroa (60 työtunnilta).' %} {% trans 'Summa pitää sisällään lomakorvauksen.' %} {% trans 'Lisäksi työnantaja maksaa normaalit työnantajamaksut.' %}</li>
                            <li>{% trans 'Kesätyöjakso voi olla tuntimäärältään pidempi, tällöin 60 työtuntia ylittävän osuuden palkan on oltava vähintään alan työehtosopimuksen mukainen vähimmäispalkka.' %}</li>
                        </ul>
                    </p>
                    <p>
                        <a href="{% trans 'https://nuorten.helsinki/opiskelu-ja-tyo/kesaseteli/nuorelle/' %}" style="color:#3675e5;text-decoration:underline">{% trans 'Lue lisää' %}</a>
                    </p>
                    <hr/>
                    <h2>{% trans 'Ohjeita työnantajalle' %}</h2>
                    <p>
                        {% trans 'Kesäseteli on nuorten, yrittäjien ja Helsingin kaupungin yhteinen hanke.' %}
                        {% trans 'Kaupunki korvaa 325 euroa työnantajalle, joka palkkaa Kesäseteliin oikeutetun nuoren töihin 1.6.–15.8.2022 välisenä aikana.' %}
                        {% trans 'Kesätyön vähimmäisvaatimuksina ovat 60 tunnin työaika ja 400 euron palkka.' %}
                    </p>
                    <p>
                        {% trans 'Muut käyttöehdot voit lukea täältä:' %}
                        <a href="{% trans 'https://nuorten.helsinki/opiskelu-ja-tyo/kesaseteli/tyonantajalle-2/' %}" style="color:#3675e5;text-decoration:underline">{% trans 'Lue lisää' %}</a>
                    </p>
                    <hr/>
                </td>
            </tr>

            <tr style="margin-left:1em;margin-right:1em">
                <td style="text-align:left;margin-right:0">
                    <img alt="{% trans 'Helsinki' %}" src="cid:helsinki_logo">
                </td>
                <td style="text-align:right;margin-left:0">
                    <a href="{% trans 'https://nuorten.helsinki/kesaseteli/' %}" style="color:#191919;text-decoration:underline">{% trans 'nuorten.helsinki/kesaseteli/' %}</a>
                </td>
            </tr>
        </table>
    </body>
</html>
