{% extends "base.html" %}

{% block content %}
    <p>Työllisyydenhoidon Helsinki-lisä, kielteiset päätökset työnantajille</p>
    <table aria-label="AHJO report" style="border: 1px solid black">
        <tr>
        <th scope="col">Hakemusnumero</th>
        <th scope="col">Hakija</th>
        <th scope="col">Y-tunnus</th>
        <th scope="col">Työllistetty</th>
        <th scope="col">Haettu tukimuoto</th>
        </tr>
        {% for app in apps %}
            <tr>
                <td>{{ app.ahjo_application_number }}</td>
                <td>{{ app.company_name }}</td>
                <td>{{ app.company.business_id }}</td>
                <td>{{ app.employee.first_name }} {{ app.employee.last_name }}</td>
                <td>{{ app.get_benefit_type_display() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
