{% extends "base.html" %}

{% block content %}
    <h1>Työllisyydenhoidon Helsinki-lisän myöntäminen yrityksille vuonna {{ year }}, hakemus nro
        {{ app.ahjo_application_number}}</h1>
    <table aria-label="AHJO report""AHJO report" style="border: 1px solid black">
        <tr>
        <th scope="col">Hakemus-numero</th>
        <th scope="col">Hakija</th>
        <th scope="col">Y-tunnus</th>
        <th scope="col">Työllistetyn sukunimi</th>
        <th scope="col">Työllistetyn etunimi</th>
        <th scope="col">Alkaa</th>
        </tr>
        <tr>
            <td>{{ app.ahjo_application_number }}</td>
            <td>{{ app.company_name }}</td>
            <td>{{ app.company.business_id }}</td>
            <td>{{ app.employee.first_name }}</td>
            <td>{{ app.employee.last_name }}</td>
            <td>{{ app.start_date }}</td>
        </tr>
    </table>

    <p>Tämän päätöksen suoma tuki myönnetään vähämerkityksisenä eli ns. de minimis -tukena. Tuen myöntämisessä noudatetaan komission asetusta (EU) 1407/2013, 24.12.2013, perustamissopimuksen 107 ja 108 artiklan soveltamisesta vähämerkityksiseen tukeen (EUVL nro L352, 24.12.2013).</p>
{% endblock %}
