{% extends "base.html" %}

{% block content %}
<p>Työllisyydenhoidon Helsinki-lisän myöntäminen työnantajille</p>
<table aria-label="AHJO report" style="border: 1px solid black">
    <tr>
            <th scope="col">Hakemusnumero</th>
            <th scope="col">Hakija</th>
            <th scope="col">Y-tunnus</th>
            <th scope="col">Aika</th>
            <th scope="col">Tukimuoto</th>
            <th class="text-right" scope="col">Summa/kk</th>
            <th class="text-right" scope="col">Yhteensä</th>
        </tr>
        {% for app in apps %}
            {% if app.ahjo_rows.count() == 0 %}
            <tr>
                <td>{{ app.ahjo_application_number }}</td>
                <td>{{ app.company_name }}</td>
                <td>{{ app.company.business_id }}</td>
                <td>{{ app.start_date.strftime("%d.%m.%Y") }} - {{ app.end_date.strftime("%d.%m.%Y")}}</td>
                <td>{{ app.get_benefit_type_display() }}</td>
                <td class="text-right">{{ "%.0f €" | format(app.calculated_benefit_amount/(app.calculation.duration_in_months |
                        round(2)))}}
                </td>
                <td class="text-right"><strong>{{ "%.0f €" | format(app.calculated_benefit_amount)}}</strong></td>
            </tr>
            {% else %}
                {% for ahjo_row in app.ahjo_rows %}
                    <tr>
                        <td>{{ app.ahjo_application_number }}</td>
                        <td>{{ app.company_name }}</td>
                        <td>{{ app.company.business_id }}</td>
                        <td>{{ ahjo_row.start_date.strftime("%d.%m.%Y") }} - {{ ahjo_row.end_date.strftime("%d.%m.%Y")}}</td>
                        <td>{{ app.get_benefit_type_display() }}</td>
                        <td class="text-right">{{ "%.0f €" | format(ahjo_row.amount/(ahjo_row.duration_in_months |
                                round(2) ))}} </td>
                        <td class="text-right"><strong>{{ "%.0f €" | format(ahjo_row.amount)}}</strong></td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr>
            <td colspan="8" class="footer text-right"> Kaikki yhteensä <strong>{{ "%.0f €" | format(apps | sum
                    (attribute='calculated_benefit_amount'))}}</strong></td>
        </tr>
</table>
    <p style="color: #999898; padding: 0px 50px; text-align: center">Työllistettyjen nimet poistettu. JulkL 24§ 1 mom
        25 k.</p>
{% endblock %}
