{% extends "base.html" %}

{% block content %}
<h1>Liite 1 Työllisyydenhoidon Helsinki-lisän myöntäminen yhteisöille vuonna {{ year }}, hakemus nro
    {{ start_number }} - {{ end_number }}</h1>
<table aria-label="AHJO report""AHJO report" style="border: 1px solid black">
    <tr>
    <th scope="col">Hakemus-numero</th>
    <th scope="col">Hakija</th>
    <th scope="col">Y-tunnus</th>
    <th scope="col">Työllistetyn sukunimi</th>
    <th scope="col">Työllistetyn etunimi</th>
    <th scope="col">Alkaa</th>
    </tr>
    {% for app in apps %}
        <tr>
            <td>{{ app.ahjo_application_number }}</td>
            <td>{{ app.company_name }}</td>
            <td>{{ app.company.business_id }}</td>
            {% if loop.index == 1 %}
                <td colspan="2" rowspan="{{ apps | length }}">Salassa pidettävä, JulkL 24§ 1 mom 25 k., Henkilötieto poistettu</td>
            {% endif %}
            <td>{{ app.start_date }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
