Django~=3.2
django-cors-headers
django-environ
django-extensions
djangorestframework
django-simple-history
psycopg2
python-dateutil
sentry-sdk
requests
django-phonenumber-field[phonenumbers]
django-localflavor~=3.1
django-searchable-encrypted-fields
mozilla_django_oidc
django_auth_adfs
pyyaml
uritemplate
drf-spectacular
django-filter
django-storages[azure]
Pillow
filetype
elasticsearch
Jinja2
pdfkit
Babel
factory-boy # TODO: added temporarily so that NEXT_PUBLIC_MOCK_FLAG can be set on dev env, remove when authentication done
drf-nested-routers
django-sql-utils
-e file:../shared
