black==23.1.0 # sync with pre-commit-config.yaml
flake8==6.0.0 # sync with pre-commit-config.yaml
ipython
isort==5.12.0 # sync with pre-commit-config.yaml
langdetect
pip-tools
pytest
pytest-cov
pytest-django
pytest-freezegun
requests-mock
werkzeug
pre-commit
