name: (BF-Handler) Lint, Unit and Component tests

on:
  pull_request:
    paths:
      - ".github/workflows/bf-handler-frontend-tests.yml"
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  common:
    uses: ./.github/workflows/ci-node2.yml
    secrets: inherit
    with:
      node-version: 22.x
      working-directory: ./frontend/benefit/handler
      extra-commands: echo 'NEXTJS_DISABLE_SENTRY=true' >> .env