name: (BF) Python coding style

on:
  pull_request:
    paths:
    - '.github/workflows/bf-py-coding-style.yml'
    - 'backend/benefit/**'
    - 'backend/shared/**'

env:
  DEBUG: 1

jobs:
  pre-commit:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}
        fetch-depth: 0
    - name: Setup Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1
      with:
        extra_args: --from-ref origin/${{ github.base_ref }} --to-ref HEAD
