name: (BF) Python coding style

on:
  push:
    branches: [develop, main]
  pull_request:
    paths:
    - 'backend/benefit/**'
    - '.github/workflows/bf-py-coding-style.yml'

env:
  DEBUG: 1

jobs:
  py-coding-style:
    name: Python coding style
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Cache pip packages
        uses: actions/cache@v3
        env:
          cache-name: cache-pip-modules
        with:
          path: ~/.pip-cache
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/requirements-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: cd backend/benefit && pip install -r requirements.txt -r requirements-dev.txt

      - name: (BF) Formatting
        run: cd backend/benefit && black --check .

      - name: (BF) Linting
        run: cd backend/benefit && flake8

      - name: (BF) Import sorting
        run: cd backend/benefit && isort -c .

      - name: (Shared) Formatting
        run: cd backend/shared && black --check .

      - name: (Shared) Linting
        run: cd backend/shared && flake8

      - name: (Shared) Import sorting
        run: cd backend/shared && isort -c .
