name: Kesaseteli-shared Lint, Unit and Component tests

on:
  pull_request:
    paths:
      - ".github/workflows/ks-shared-frontend-tests.yml"
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  common:
    uses: ./.github/workflows/ci-node2.yml
    secrets: inherit
    with:
      node-version: 22.x
      app-directory: ./frontend/kesaseteli/shared
      skip-build: true
